{% extends "base.html" %}

{% block scripts %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
<script src="https://api-maps.yandex.ru/v3/?apikey=9b29f72a-66c1-4c94-9052-8f3bfef5e7f6&lang=ru_RU"></script>
<script src="{{ url_for('static', filename='js/yamap.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container-md">
        <div class="title-text mb-5" align="center">Карта города</div>
        <div class="row gx-5 border border-secondary-subtle py-4 rounded">
            <div class="col border-end border-secondary-subtle">
                <div id="map" style="width: 818px; height: 542px;"></div>
            </div>
            <div class="col">
                <div class="card" style="width: 22rem; height: 34rem;">
                <img src="..." class="card-img-top" alt="Изображение объекта"
                     onerror="this.onerror=null;this.src='{{ url_for('static', filename='images/for_alt_card.png') }}';">
                    <div class="card-body">
                        <h5 class="card-title">{{ card_title }}</h5>
                        <p class="card-text">{{ card_text }}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}